body {
  background-image: url('../assets/img/portrait-picture.svg');
  background-repeat: no-repeat;
  background-position: center 60px;
  background-size: cover;
  /* min-height: 35.4375rem; */
  aspect-ratio: 3 / 4;
}

/* HEADER: GLOBALSTYLES.CSS */

.register__main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__main--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 31.25rem;
  background-color: var(--white95);
  padding: 2.4375rem 1.0625rem;
  gap: 0.625rem;
}

.register__container--header > h1 {
  font-size: 2rem;
}

.register__container--form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8125rem;
}

.form__select--downArrow {
  width: 0.75rem;
  position: absolute;
  right: 1.0625rem;
  cursor: pointer;
}

.register__form--signupBtn {
  width: 100%;
}

.register__form--redirectBtn {
  background-color: transparent;
  width: 100%;
}

.hidden {
  display: none;
}

@media (min-width: 768.1px) {
  body {
    background-image: url('../assets/img/landscape-picture.svg');
    background-position: center 80px;
    background-size: cover;
    aspect-ratio: 3 / 2;
    min-width: 48rem;
  }

  .header {
    min-width: 48.5rem;
  }

  .register__header--nav {
    display: flex;
    width: fit-content;
    height: fit-content;
  }

  .register__main {
    justify-content: flex-start;
    padding-top: 5.5rem;
  }

  @media (min-height: 750px) {
    .register__main {
      padding-top: 11.25rem;
    }
  }

  .register__main--container {
    width: 31.625rem;
    padding: 2.4375rem 2.625rem;
    height: 32.4375rem;
  }

  .register__container--header > h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.125rem;
  }
}
